<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/header::head}"></th:block>
<body>
<!--<th:block th:replace="~{fragments/header::header}"></th:block>-->

<div class="container">
    <h5 class="p-3 rounded-2 bg-dark text-light" th:if="${document.id}">Modification Document</h5>
    <h5 class="p-3 rounded-2 bg-dark text-light" th:unless="${document.id}">Ajout Document</h5>
    <div class="bg-dark-subtle rounded-2 p-3">
        <form method="post" th:action="@{/api/documents/save}" th:object="${document}">
            <input th:field="*{id}" type="hidden">
            <div>
                <label class="form-label" for="nom">Nom</label>
                <input aria-describedby="NomHelp" autofocus class="form-control" id="nom" name="nom" required
                       th:field="*{nom}" type="text">
                <div class="form-text" id="nomHelp">Ajoutez le nom du document.</div>
            </div>
            <div class="mt-3">
                <label class="form-label" for="description">Description</label>
                <input aria-describedby="AbbrHelp" class="form-control" id="description" name="description" required
                       th:field="*{description}" type="text">
                <div class="form-text" id="AbbrHelp">Ajoutez la description du document.</div>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Sauvegarder</button>
            <a class="btn btn-secondary mt-3" href="/api/documents">Cancel</a>
        </form>
    </div>
</div>

<th:block th:replace="~{fragments/footer::site-footer}"></th:block>

</body>
</html>
